.container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: all 2s;
    padding-bottom: 50px;
    border-bottom: 1px solid #eee;
}
.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.ul{
    display: grid;
    font-display: row;
    list-style: none;
    gap: 15px;
    grid-template-columns: repeat(4, auto);
}
.filterList{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.li{
    font-size: 13px;
    font-weight: 700;
    color: #121212;
    display: inline-block;
    margin: 0px 10px;
    transition: all .3s;
    cursor: pointer;
}
.li:hover{
    color: #f33f3f;
}
.liActive{
    font-size: 13px;
    font-weight: 700;
    color: #f33f3f;
    display: inline-block;
    margin: 0px 10px;
    transition: all .3s;
    cursor: pointer;
}
@media screen and (max-width:644px) {
    .ul{
        display: grid;
        font-display: row;
        list-style: none;
        gap: 15px;
        grid-template-columns: repeat(2, auto);
        text-align: center;
    }
}
@media screen and (max-width:354px) {
    .ul{
        display: grid;
        font-display: row;
        list-style: none;
        gap: 15px;
        grid-template-columns: repeat(1, auto);
        text-align: center;
    }
}