.formDiv{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formBtn{
    width: 200px;
    height: 50px;
    background-color: #F33F3F;
    font-size: 35px;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.noneBtn{
    width: 200px;
    height: 50px;
    background-color: #ffbbbb;
    font-size: 35px;
    color: white;
    border: none;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.input{
    width: 300px;
    height: 45px;
    border-radius: 25px;
    border: none;
    padding: 5px 20px;
    box-sizing: border-box;
    font-size: 25px;
    cursor: pointer;
}
.outParent{
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent{
    background:linear-gradient(-45deg, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;

    display: flex;
    gap: 35px;
    background-color: gray;
    padding: 30px;
    width: fit-content;
}
.loader{
    color: red;
}
.thanks{
    font-size: 35px;
    color: #28a745;
    padding: 10px;
    border: 6px solid #198754;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@media screen and (max-width:721px) {
    /* .payCard{

    } */
    .input{
        width: 250px;
    }
}
@media screen and (max-width:672px) {
    .input{
        width: 200px;
    }
}
@media screen and (max-width:624px) {
    .parent{
        gap: 30px;
        flex-direction: column;
    }
    .input{
        width: 300px;
    }
}
@media screen and (max-width:425px) {
    .parent{
        padding: 20px;
    }
    .input{
        width: 250px;
    }
}
@media screen and (max-width:389px) {
    .parent{
        padding: 20px 8px ;
    }
    .input{
        width: 240px;
    }
}
@media screen and (max-width:363px) {
    .input{
        width: 240px;
    }
}
@media screen and (max-width:363px) {
    .parent{
        padding: 20px 0px ;
    }
}