.formDiv{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formBtn{
    width: 200px;
    height: 50px;
    background-color: #F33F3F;
    font-size: 35px;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.noneBtn{
    width: 200px;
    height: 50px;
    background-color: #ffbbbb;
    font-size: 35px;
    color: white;
    border: none;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.input{
    width: 300px;
    height: 45px;
    border-radius: 25px;
    border: none;
    padding: 5px 20px;
    box-sizing: border-box;
    font-size: 25px;
    cursor: pointer;
}
.outParent{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent{
    display: flex;
    gap: 35px;
    background-color: gray;
    padding: 30px;
}
.loader{
    color: red;
}
.thanks{
    font-size: 35px;
    color: #28a745;
    /* background-color: #198754; */
    /* opacity:; */
    padding: 10px;
    border: 6px solid #198754;
}