.pictreDesSocilNetworks{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 25px
}
.ourBackground{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tittle{
    text-align: left;
    margin-bottom: 60px;
    border-bottom: 1px solid #eee;
    width: 100%;
}
.th2{
    font-size: 28px;
    font-weight: 400;
    color: #1e1e1e;
} 
.snnav{
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}
.snli{
    list-style: none;
    text-decoration: none;
}
.desTittle{
    font-size: 17px;
    color: #1a6692;
    margin-bottom: 20px;
}

.desSocilNetworks{
    justify-content: space-between;
    height: auto;
    display: flex;
    flex-direction: column;
}
.desP{
    border-bottom: 1px solid #eee;
}
.faA{
    width: 50px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    background-color: #eee;
    color: #121212;
    font-size: 18px;
    text-align: center;
    transition: all .3s;
}
.faA:hover{
    background-color: #EC3D3D;
    color: #eee;
}
.container{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.img{
    width: 540px;
    height: 331px
}


@media screen and (max-width:1055px) { 
    .img{
        width: 100%;
        height: 100%;
    }
    .desP{
        max-width: 250px;
    }
}
@media screen and (max-width:783px){
    .pictreDesSocilNetworks{
        flex-direction: column
    }
    .desP{
        max-width: 100%;
    }
}