.header{
    background-color: #232323;
    width: 100%;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    transition: 2s;
}
.container{
    width: 80%;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    text-align:center
}
.ulContainer{
    width: 80%;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    text-align:center
}
.ulLiBurger{
    width: 100%;
    display: flex; 
    justify-content: center;
}


@media screen and (max-width:1200px) {
    .ul36{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav35{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width:581px) {
    .ul36{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 5px;
    }
    .nav35{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .ulContainer{
        width: 100%;
    }
}