.parentOutContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.parent{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    row-gap: 40px;
    justify-content: space-between  ;
}
.empty{
    width: 100%;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parentAndBtn{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.buyAll{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.buyAllButton{
    width: 200px;
    height: 50px;
    background-color: #F33F3F;
    font-size: 35px;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

@media screen and (max-width: 874px) {
    .parent{
        display: grid;
        justify-content: space-between;
        align-items: center;
        grid-template-columns:  45% 45%;
        row-gap: 15px;
        transition: all 2s;
    }
}
@media screen and (max-width: 672px) {
    .parent{
        display: grid;
        justify-content: center;
        grid-template-columns:  90%;
        align-self: center  ;
        row-gap: 15px;
        transition: all 2s;
    }
}
@media screen and (max-width: 500px) {
    .empty{
        font-size: 30px
    }
}
@media screen and (max-width: 333px) {
    .empty{
        font-size: 25px
    }
}