.tittle{
    text-align: left;
    margin-bottom: 60px;
    border-bottom: 1px solid #eee;
}

.h2{
    font-size: 28px;
    font-weight: 400;
    color: #1e1e1e;
    margin-bottom: 15px;
}
.parent{
    width: 80%;
}
.partners{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    border-bottom: 1px solid #eee;
    gap: 15px;
}